:root {
    --primary-color: #14a494;
    --secondary-color: #af916e;
    --accent1-color: #000000;
    --accent2-color: #895f04; 
    --heading-font: cursive;
    --body-font: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1rem;
    padding: 0.5rem;
}

.socialmedia a{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    padding: 0.3rem;
    margin: auto;
    text-align: left;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 50px;
    padding: auto;
    margin: auto;
}

h2 {
    width: 100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

footer {
    margin-top: 1rem;
    border-top: 0.1rem solid #333;
    text-align: center;
}