 @font-face {
    font-family: "ForThisProject";
    src: url("fonts/ubahn.woff") format("woff"),
         url("fonts/ubahn.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    font-family: "ForThisProject", sans-serif;
    font-size: 1.1rem;
    color: brown;

    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: rgb(227, 216, 216);

    display: grid;
}

h1 {
    margin: 1rem;
    text-align: center;
    color: brown;
    background-color: #f6dede;
}

fieldset {
    display: grid;
    grid-gap: .5px;
    margin: 1rem;
    border: solid rgb(126, 122, 122);
    border-radius: 0.5rem;
    padding: 1rem;
}

legend {
    text-align: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

select, input, textarea {
    padding: 0.2rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    background-color: rgb(91, 18, 18);
    color: white;
    font-family: "ForThisProject", sans-serif;
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
}

button:hover {
    background-color: darkred;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    border-top: 1px solid gray;
    padding: 0.5rem;
    text-align: center;
    font-family: "ForThisProject", sans-serif;
}

/* Class selectors */

.for-item {
    display: grid;
    align-content: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
}