table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}

th, td {
    text-align: center;
    border: 3px solid gray;
    padding: 1rem;
}

thead th, tfoot tr {
    background-color: black;
    color: white;
}