* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

main {
    grid-column: 2 / 3;
}

nav {
    display: flex;
    background-color: darkblue;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue; 
    border-bottom: 0.1rem solid #333;
}

main img {
    width: 19rem;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    padding: 1rem;
}

ul {
    list-style: none;
}

aside {
    width: 20rem;
    border: 1em rgb(0 0 0 / 0.2);
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: white;
    right: 34%;
}

footer {
    margin-top: 1rem;
    background-color: #0c4754;
    padding: 1rem 1rem;
    text-align: center;
    color: white;
}

/* Class Selector */

.box {
    border: 3px solid #0c4754;
    padding: 1rem;
    background-color: #b9e8f3;
}

.grid{
    display: grid;
    align-items: center;
    gap: 32px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}