* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue; 
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
main {
    max-width: 500px;
}
aside {
    width: 20rem;
    border: 1em rgb(0 0 0 / 0.2);
    color: black;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    color: white;
    right: 34%;
}
footer {
    margin-top: 1rem;
    border-top: 0.1rem solid #333;
    text-align: center;
}
/* Class Selector */
.box {
    margin: 1rem;
    border: 3px solid #157c93;
    padding: 1rem;
    background-color: #b9e8f3;
}