.callout {
	width: 500px;
    height: 300px;
    background-color: #2a5791;
    color: white;
    padding: 5px;
    border: 0px solid red;
    margin: 0px;
}

.callout img {
	position: relative;
    float: right;
    width: 125px;
    height: 125px;
    padding: 0px;
    border: 5px solid whitesmoke;
    margin: 20px;
    
}

blockquote {
	margin: 40px;
}

cite {
	display: block;
    text-align: right;
    font-size: medium;
    padding: 10px;
    border-top: 1px dashed black;
}